{% extends 'base.html.twig' %}

{% block title %}This is specific page title!{% endblock title %}
{% block stylesheets %}
   <link rel="stylesheet" href="./css/styles.css">
{% endblock stylesheets %}

{% block content %}
	<div class="header">
		<h2>My To Do List</h2>
		<form method='POST' action="{{ path('app_create_task') }}">
			<input name="title" type="text" id="myInput" placeholder="Task title..."/>
			<button type="submit" class="addBtn">Add a task</button>
		</form>
	</div>

	<ul>
    {% for task in tasks %}
      <li {% if task.status %}class="checked"{% endif %}>
        <a href="{{ path('app_switch_task_status', {'id': task.id}) }}">
          <span class="task-list-item">{{ task.title }}</span>
        </a>
        <a onclick="return confirm('Are you sure to delete?')" href="{{ path('app_delete_task', {'id': task.id}) }}">
          <span class="close">X</span>
        </a>
      </li>
    {% endfor %}
	</ul>
{% endblock content %}
